# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
pandas
requests
bs4
pymongo
applicationinsights
lxml
beanie
pydantic
typing
datetime
asyncio
uuid
motor
pydantic[email]
enum34
